<nav class="topnav">
  <ul class="Component_Lists">
    <li><a routerLink="/Contact_Us">Experience</a></li>
    <li><a routerLink="/Skills">Skills</a></li>
    <li>
      <a class="About" routerLink="/Contact_Us" style="color: rgb(192, 176, 58)"
        >About</a
      >
    </li>
    <li><a routerLink="/Projects">Projects</a></li>
    <li><a routerLink="/Contact_Us">Contact Us</a></li>
  </ul>
</nav>
<aside class="botnav">
  <button class="navbut" routerLink="/Home"><mat-icon>home</mat-icon></button>
</aside>
