<main>
  <section class="rightside">
    <article>
      <h1>
        Hussein <br />
        Mayladan
      </h1>
      <p class="discription">
        A <u>frontend web developer specialized in Angular</u>, I craft
        professional, high-performance websites that are responsive and
        user-focused. With a passion for building seamless digital experiences,
        I focus on clean code and intuitive interfaces, bringing ideas to life
        with scalable solutions
      </p>
    </article>
  </section>
  <!--  -->
  <section class="leftside">
    <h2 class="tagline">
      Angular Expert <br />Crafting Scalable,<br />
      High-Performance <br />
      Web Experiences
    </h2>
  </section>
  <!--  -->
  <section class="bottomside">
    <h2 class="webdes">
      <strong
        >This website was designed and developed to deliver an exceptional user
        experience while showcasing my skills and capabilities as a solo
        developer.</strong
      >
    </h2>
    <ul class="list">
      <li>
        <a class="learn" routerLink="/about">Learn more about Hussein.</a>
      </li>
      <li><a routerLink="/projects">Explore my projects.</a></li>
      <li><a routerLink="/Skills">Hussein's skills.</a></li>
      <li><a routerLink="/experience">My experience</a></li>
      <li>
        <a class="explore" href=""
          >Explore through the guide of this website and get to know our cool
          features.</a
        >
      </li>
    </ul>
  </section>
</main>
